
@{
    ViewBag.Title = "ListaClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = Session["Usuario"] as CapaEntidad.Empleados;
}

<div class="card secondary-font-regular">
    <div class="card-header">
        <i class="fas fa-users fa-lg m-1"></i> Lista de Clientes
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" onclick="AbrirModalClientes(null)"><i class="fas fa-user-circle fa-lg m-1"></i>Registrar Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tablaClientes" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>RFC</th>
                    <th>Fecha Registro</th>
                    <th>Fecha Desactivacion</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>


<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fas fa-user fa-lg"></i> Guardar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <input type="hidden" id="txtID" value="0">


                <form class="row g-2" id="formCliente">

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" placeholder="Escriba su nombre" name="fname" required pattern="[A-Za-zÁÉÍÓÚáéíóú\s]+" title="El formato debe ser de solo letras" maxlength="160">
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Escriba su nombre" name="fname" required pattern="[A-Za-zÁÉÍÓÚáéíóú\s]+" title="El formato debe ser de solo letras" maxlength="120">
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">RFC</label>
                        <input type="text" class="form-control" id="txtRFC" maxlength="25" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" id="txtTelefono" placeholder="Escriba su numero telefonico" name="telefono" required pattern="[0-9]{10}" title="El número de teléfono debe tener exactamente 10 dígitos">
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Escriba su correo electronico" name="email" required pattern="[a-zA-Z0-9._%+-]+\u0040[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="El formato debe se: example@mail.com" maxlength="120">
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                        <div class="input-group has-validation">
                            <input type="password" class="form-control" id="txtPassword" required>
                            <button class="btn btn-outline-secondary" type="button" id="btnTogglePassword">
                                <i class="fa fa-eye" aria-hidden="true" style="font-size: 0.75em;"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="txtDireccion" required>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="validarYGuardar()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <script>
        var usuario = @Html.Raw(Json.Encode(Session["Usuario"]));
        var tablaData;
        var filaSeleccionada;

        tablaData = $("#tablaClientes").DataTable({

            //responsive: true,
            //ordering: false,
            "ajax": {
                url: '@Url.Action("ListarClientes","Admin_Asesor")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "ClienteID" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return row.Nombre + ' ' + row.Apellidos;
                    }
                },
                { "data": "Correo" },
                { "data": "Telefono" },
                { "data": "RFC" },
                {
                    data: "FechaRegistro",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY");
                    }
                },
                {
                    data: "FechaInactividad",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY");
                    }
                },
                {
                    "data": "EsActivo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge rounded-pill bg-success btn-sm m-2">Activo</span>' +
                                '<button type="button" class="btn btn-outline-danger btn-sm btn-inhabilitar"><i class="fas fa-minus-circle fa-lg m-1"></i>Inhabilitar</button>'
                        } else {
                            return '<span class="badge rounded-pill bg-danger btn-sm m-2">Inactivo</span>' +
                                   '<button type="button" class="btn btn-outline-success btn-sm btn-habilitar"><i class="fas fa-plus-circle fa-lg m-1"></i>Habilitar</button>'
                        }

                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        var content = '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen fa-lg"></i></button>';

                        // Verificar si el usuario actual es un administrador para mostrar el botón de conexiones
                        if (usuario && usuario.Rol && usuario.Rol.NombreRol === "Administrador") {
                            content += '<button type="button" class="btn btn-info btn-sm btn-conexiones ms-2"><i class="fas fa-clock fa-lg" style="color: #ffffff"></i></button>';
                        }

                        content += '<button type="button" class="btn btn-secondary btn-sm ms-2 btn-Uploads"><i class="fas fa-cloud-upload-alt" style="color: #ffffff"></i></button>';

                        return content;
                    },
                    "orderable" : false,
                    "searchable" : false,
                    "width": "113px"
                }
            ],

            "language": {
                "url": '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            },

        });

        function AbrirModalClientes(json) {

            $("#txtID").val(0);
            $("#txtNombre").val("");
            $("#txtApellidos").val("");
            $("#txtRFC").val("");
            $("#txtTelefono").val("");
            $("#txtDireccion").val("");
            $("#txtEmail").val("");
            $("#txtPassword").val("");

            if (json != null) {
                $("#txtID").val(json.ClienteID);
                $("#txtNombre").val(json.Nombre);
                $("#txtApellidos").val(json.Apellidos);
                $("#txtRFC").val(json.RFC);
                $("#txtTelefono").val(json.Telefono);
                $("#txtDireccion").val(json.Direccion);
                $("#txtEmail").val(json.Correo);
                $("#txtPassword").val(json.Contraseña);
            }

            $('#FormModal').modal("show");

        }

        $("#tablaClientes tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tablaData.row(filaSeleccionada).data();

            AbrirModalClientes(data)
        })

        function Guardar() {
            var Clientes = {

                clienteid: $("#txtID").val(),
                    nombre: $("#txtNombre").val(),
                 apellidos: $("#txtApellidos").val(),
                rfc: $("#txtRFC").val(),
                direccion: $("#txtDireccion").val(),
                  telefono: $("#txtTelefono").val(),
                    correo: $("#txtEmail").val(),
                contraseña: $("#txtPassword").val(),
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarCliente", "Admin_Asesor")',
                type: "POST",
                data: JSON.stringify({ objeto: Clientes }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    //Nuevo Cliente
                    if (Clientes.clienteid == 0) {
                        if (data.resultado != 0) {
                            Clientes.clienteid = data.resultado;
                            $('#FormModal').modal("hide");
                        } else {
                            alert(data.Mensaje);
                        }
                    } else {
                        if (data.resultado != 0) {
                            filaSeleccionada == null;
                            $('#FormModal').modal("hide");
                        } else {
                            alert(data.Mensaje);
                        }
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
                complete: function () {
                    // Recargar los datos de la DataTable después de la llamada AJAX completa
                    tablaData.ajax.reload();
                }
            });
        }

        $("#tablaClientes tbody").on("click", '.btn-conexiones', function () {
        filaSeleccionada = $(this).closest("tr");
        var data = tablaData.row(filaSeleccionada).data();

        // Redirige a la vista de conexiones con el ID del empleado seleccionado
        window.location.href = '@Url.Action("Conexiones_Cliente", "EmpleadoAdmin")?ClienteID=' + data.ClienteID;
        });

        $("#tablaClientes tbody").on("click", '.btn-Uploads', function () {
        filaSeleccionada = $(this).closest("tr");
        var data = tablaData.row(filaSeleccionada).data();

        // Redirige a la vista de conexiones con el ID del empleado seleccionado
        window.location.href = '@Url.Action("ListaArchivosSubidos", "Admin_Asesor")?ClienteID=' + data.ClienteID;
        });

        function validarYGuardar() {
            var form = document.getElementById('formCliente');
            if (form.checkValidity()) {
                Guardar();
            } else {
                form.reportValidity();
            }
        }

    </script>

    <script>

        //Funcion para habilitar
        $("#tablaClientes tbody").on("click", '.btn-habilitar', function () {
            // Obtener la fila seleccionada
            filaSeleccionada = $(this).closest("tr");
            var data = tablaData.row(filaSeleccionada).data();

            // Confirmar la acción antes de ejecutarla
            if (confirm("¿Estás seguro de que deseas habilitar a este Cliente?")) {
                // Ejecutar el método InhabilitarEmpleado
                $.ajax({
                    url: '@Url.Action("HabilitarCliente", "Admin_Asesor")',
                    type: "POST",
                    data: { id: data.ClienteID },
                    success: function (response) {
                        // Actualizar la tabla después de la inhabilitación
                        tablaData.ajax.reload();
                        // Aquí puedes mostrar algún mensaje de éxito si lo deseas
                        alert("Cliente Habilitado correctamente.");
                    },
                    error: function (error) {
                        // Manejar errores de la llamada AJAX si es necesario
                        console.error("Error al inhabilitar Cliente:", error);
                        alert("Error al Habilitar Cliente. Por favor, inténtalo de nuevo.");
                    }
                });
            }
        });
    </script>

    <script>

        //Funcion para Inhabilitar
        $("#tablaClientes tbody").on("click", '.btn-inhabilitar', function () {
            // Obtener la fila seleccionada
            filaSeleccionada = $(this).closest("tr");
            var data = tablaData.row(filaSeleccionada).data();

            // Confirmar la acción antes de ejecutarla
            if (confirm("¿Estás seguro de que deseas inhabilitar a este Cliente?")) {
                // Ejecutar el método InhabilitarEmpleado
                $.ajax({
                    url: '@Url.Action("InhabilitarCliente", "Admin_Asesor")',
                    type: "POST",
                    data: { id: data.ClienteID },
                    success: function (response) {
                        // Actualizar la tabla después de la inhabilitación
                        tablaData.ajax.reload();
                        // Aquí puedes mostrar algún mensaje de éxito si lo deseas
                        alert("Cliente inhabilitado correctamente.");
                    },
                    error: function (error) {
                        // Manejar errores de la llamada AJAX si es necesario
                        console.error("Error al inhabilitar Cliente:", error);
                        alert("Error al inabilitar Cliente. Por favor, inténtalo de nuevo.");
                    }
                });
            }
        });

    </script>

    <script>
        document.getElementById('btnTogglePassword').addEventListener('click', function () {
            var passwordInput = document.getElementById('txtPassword');
            var btnTogglePassword = document.getElementById('btnTogglePassword');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                btnTogglePassword.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"></i>';
            } else {
                passwordInput.type = 'password';
                btnTogglePassword.innerHTML = '<i class="fa fa-eye" aria-hidden="true"></i>';
            }
        });
    </script>
}

